<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost/ovchip</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Donderdag2017@</property>

        <mapping class="p6.Adres"/>
        <mapping class="p6.Reiziger"/>
        <mapping class="p6.Product"/>
        <mapping class="p6.OVChipkaart"/>

    </session-factory>
</hibernate-configuration>


